@model Menu
<div @Model.RenderAttributes(true, true)>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <xt-action area="@Model.AreaName" controller="@Model.ControllerName" action="@Model.ActionName" class="navbar-brand">@Model.Caption</xt-action>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var item in Model.Items)
                {
                    @Model.RenderContent(item)
                }
            </ul>
        </div>
    </div>
</div>