@model Modal
@{
    Model.SetAttributes(new { @class = "modal fade", tabindex = "-1", role = "dialog", ariaLabelledby = "label_" + Model.ID, ariaHidden = "true" });
}
@if (IsEnvironment(Environments.Staging | Environments.Production))
{
    @Script("multimodal.js", "~/lib/bootstrap-multimodal/js/multimodal.min.js", RenderTargets.Footer)
}
else
{
    @Script("multimodal.js", "~/lib/bootstrap-multimodal/js/multimodal.js", RenderTargets.Footer)
}
<div @Model.RenderAttributes(true, true)>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.AllowClose)
                {
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                }
                @if (Model.Title != null)
                {
                    <h3 id="label_@Model.ID">@Model.RenderContent(Model.Title)</h3>
                }
                @if (Model.Header != null)
                {
                    @Model.RenderContent(Model.Header)
                }
            </div>
            <div class="modal-body">
                @Model.RenderInnerContent()
            </div>
            <div class="modal-footer">
                @if (Model.Footer != null)
                {
                    @Model.RenderContent(Model.Footer)
                }
            </div>
        </div>
    </div>
</div>
